@use "../variables/colors";

.up-button {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: colors.$white;
  background: colors.$blue-1;
  border-radius: 8px;
  padding: 8px 20px;
  border: 2px solid colors.$blue-1;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &--blue {
    background: colors.$blue-3;
    border-color: colors.$blue-3;
  }

  &--purple {
    background: colors.$purple-3;
    border-color: colors.$purple-3;
  }

  &[disabled] {
    background: colors.$gray-5;
    border-color: colors.$gray-5;
    cursor: default;
    opacity: 0.5;
  }

  &:after:not([disabled]) {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    border: 2px solid black;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover {
    &:after {
      opacity: 0.3;
    }
  }
}