$gray-1: #131223;
$gray-2: #222335;
$gray-3: #252638;
$gray-4: #423f4f;
$gray-5: #898D91;

$purple-1: #2C0A46;
$purple-2: #380D51;
$purple-3: #4D1979;

$blue-1: #020847;
$blue-2: #010E88;
$blue-3: #0319BB;

$red-1: #FF194319;
$red-2: #FF1A43;

$white: #F2F2F2;